################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/.vs/KariyerBasvuruBot/FileContentIndex
/.vs/KariyerBasvuruBot/v17/.wsuo
/App/obj/Debug/net5.0-windows/App.csproj.AssemblyReference.cache
/App/obj/Debug/net5.0-windows/App.GeneratedMSBuildEditorConfig.editorconfig
/Bot/obj/Debug/net5.0/Bot.csproj.AssemblyReference.cache
/Bot/obj/Debug/net5.0/Bot.GeneratedMSBuildEditorConfig.editorconfig
/Browser/obj/Debug/net5.0/Browser.GeneratedMSBuildEditorConfig.editorconfig
/Core/obj/Debug/net5.0/Core.GeneratedMSBuildEditorConfig.editorconfig
/.vs/KariyerBasvuruBot/FileContentIndex/40b97d67-13d5-47cc-baca-9baf1fccafa7.vsidx
